<!--[ Schedule ]-->
<section>
    <h3>１日のスケジュール</h3>
    <div></div>
</section>
<!--[ End Schedule ]-->

<!--[ Service ]-->
<section>
    <h3>サービス</h3>

    <h4>学校案内</h4>
    <div>
        <dl>
            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dt></dt>
        </dl>
    </div>

    <h4>挨拶・雑談</h4>
    <div>
        <dl>
            <dt>挨拶</dt>
            <dd></dd>
            <dt>ボット</dt>
            <dd></dd>
            <dt>可愛い</dt>
            <dd></dd>
            <dt>ぬるぽ</dt>
            <dt></dt>
        </dl>
    </div>

</section>
<!--[ End Service ]-->
