<!--[ Info ]-->
<section>
    <h3>猫葉たんとは？</h3>
    <div>
        猫葉たんとは、主に日本工学院八王子校の情報を喋るTwitter Botです。<br>
        学校のことを聞くと教えてくれます。その他雑談などの機能も備えています。
    </div>
</section>
<!--[ End Info ]-->

<!--[ Profile ]-->
<section>
    <h3>プロフィール</h3>
    <dl>
        <dt>名前</dt>
        <dd>猫葉（ネコハ）</dd>
        <dt>生年月日</dt>
        <dd>１２月２１日</dd>
        <dt>年齢</dt>
        <dd>１９歳</dd>
        <dt>性格</dt>
        <dd>毒舌で基本的に冷たい</dd>
    </dl>
</section>
<!--[ End Profile ]-->
