@charset = "UTF-8"

html {
    margin: 0px;
}

body {
}

a {
    text-decoration: none;
}

/**
 *  Header
*/
header {
    border-bottom: 1px solid #555;
    background: #CCC;
}

hgroup {
    max-width: 850px;
    margin: auto;
    padding: 10px;
}

/**
 *  Navigation
*/
nav {
    /*border: 1px solid #555;*/
    max-width: 850px;
    margin: 10px auto;
    padding: 10px;
}

nav ul {
    width:95%;
    margin: auto;
    overflow :auto;
}

nav li a {
    border: 1px solid #555;
    display: block;
    width: 160px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    float: left;
}

/**
 *  Main
*/
#main {
    /*border: 1px solid #BBB;*/
    max-width: 850px;
    margin: 10px auto;
    padding: 10px;
}

#main section {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    font-weight: normal;
}

h3 {
    border-bottom: 1px dashed #000;
    padding: 2px;
}

section div {
    margin-top: 4px;
    font-size: 14px;
}

/**
 *  Footer
*/
footer {
    border-top: 1px solid #555;
    background: #CCC;
}

footer p {
    margin: auto;
    padding: 10px;
    max-width: 850px;
    height: 40px;
    text-align: right;
}
